body{
background-image:linear-gradient(to right,#339999,#ffffff);
font-family:Arial black;
color:black;
font-size:5px;
height:10%;
margin:10px;
width:auto;
}
p{
font-family:Arial;
}
a{
font-family:Arial black;
color:black;
font-size:20px;
border:2px solid #ffffff;
}