body{
background-image:linear-gradient(to left,#990000,#ffffff);
font-family:Arial black;
color:black;
font-size:20px;
height:0%;
margin:50px;
width:auto;

}
input{
border:4px,solid,#660000;
font-family:Arial black;
}