 body{
		background-color: white!important;
		font-family: Arial;
		margin: 0px;
		padding: 0px;
	}
	
	#conteneur {
		background-image: linear-gradient(to right,#850303,#0ab7c5,#850303);
		width: 1100px;
		height: 800px;
		border: 40px solid #0ab7c5;
		border-radius: 5px 5px 5px 5px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
		
	}
	
#ar{
	background-color: #0ab7c5;
	padding-left:0px;
	margin-left:25px;
	border: 4px solid white;
	border-radius: 5px;
	
}
#al{
	background-color: #0ab7c5;
	padding-left:0px;
	margin-left:25px;
	border: 4px solid white;
	border-radius: 5px;
	
}
#am{background-color: #0ab7c5;
	border-radius: 5px;
	padding-left:0px;
	margin-left:25px;
	border: 4px solid white;
	
}
#ao{border-radius: 5px;
	background-color: #0ab7c5;
	padding-left:0px;
	margin-left:10px;
	border: 4px solid white;
	
}
	
 a{ 
		font-size: 22px;
		color: white;
		text-decoration: none;
	}

	 ul{
		margin-left: 40px;
		padding-top: 5px;
		padding-left: 10px;
	}
	ul li a{
		
		padding-left: 40px;
	}
	 ul li{
		list-style-type: none;
		
	}
	
	ul li{
		float: left;
		position: relative;
		
		
	}
	
	header{ height: 150px;
			width: 1100px;
		background-color: #850303;
		padding-left: 0px;
		padding-bottom: 5px;
		padding-right: 0px;
		padding-top: 0px;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		border: 20px;
		border-radius: 5px;
		text-align: center;

	}
	
	#gauche{
	display: inline;
	height: auto;
	border-top: 0px;
	width: 400px;
	margin-right: 10px;
	border: 20px solid white;
	position: relative;
	float: left;
 
}
#im{
	width: 1100px;
}
#pt{
	font-family: georgia;
	font-size: 40px;
	margin-left: 20px;
}
#ft{
	border: 10px solid #0ab7c5;
	width: 1100px;
}
#droite{
	
	
	
	position: relative;
	float: right;
	margin-top: 0px;
	display: inline;
}
	
	input{
	width: 200px;
	margin: 0px 0px 10px 20px;
	padding: 10px;
	font-size: 20px;
	border: 2px solid #gray;
	color: black;
	background: white;
	border-radius: 10px;
}
td{
	font-size: 25px;
	font-weight: bolder;
	color: white;
	
}
#a3{	
		font-size: 17px;
		background-color:white;
		color: #0ab7c5;
		margin-left: 150px;
		margin-top: 5px;
		font-weight: bold;
}
#a4{	background-color:white;
		color: #0ab7c5;
		font-size: 17px;
		
		margin-left: 5px;
		margin-top: 5px;
		font-weight: bold;
}
#a1{
		font-size: 17px;
		background-color:white;
		color: #0ab7c5;
		margin-left: 150px;
		margin-top: 5px;
		font-weight: bold;
}
#a2{
		font-size: 17px;
		background-color:white;
		color: #0ab7c5;
		margin-left: 5px;
		margin-top: 5px;
		font-weight: bold;
}
#a5{
		font-size: 17px;
		background-color:white;
		color: #0ab7c5;
		margin-left: 200px;
		margin-top: 5px;
		font-weight: bold;
}

select{
	font-size: 15px;
	margin-left: 20px;
	width: 200px;
}

.btn{display: block;
	width: 140px;
	height: 40px;
	border-radius: 11px;
	border: 5px solid #0ab7c5;
	background-color: white;
	padding-top: 4px;
	font-size: 20px;
	-webkit-transition: all 0.7s ease-out 0s;
	-moz-transition: all 0.7s ease-out 0s;
	transition: all 0.7s ease-out 0s;
	font-weight: bold;
	text-align: center;
	color: #850303; 
	border-radius: 11px;
	margin-top: 30px;
	
}

.btn:hover{
	background-image: url("enr.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-color: #850303;
	padding-left: 0px;
	color: white;
	border-radius: 11px;
	border: 3px solid #850303;
}
#tp{
	background-image: url("tph.png");
	background-repeat: no-repeat;
	background-size: 35px;
	padding: 10px;
}
.tab{
	margin-top: 150px;
}

	#p{
	font-size: 50px;
}
.pt{font-family: Georgia, Rosewood Std, Britannic Bold, Blackoak Std, Goudy Stout;
	font-size: 35px;
	color: #0ab7c5;
	
margin-left: 200px;	
}


@media all and (max-width: 480px ){
		body{

		background-repeat: no-repeat;
		background-size: 2000px;
		background-attachment: fixed;
		font-family: Calibri;
		margin: 0px;
		padding: 0px;
	}
	#conteneur {
		background-image: linear-gradient(to right,#850303,#0ab7c5,#850303);
		width: 200px;
		height: 800px;
		border: solid #850303;
		border-radius: 5px 5px 5px 5px;
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
		
		
	}
	#im{
	width: 200px;
}
	header{ height: 150px;
	width: 200px;
		background-color: #850303;
		padding-left: 0px;
		padding-bottom: 5px;
		padding-right: 0px;
		padding-top: 5px;
		margin-top: 0px;
		border: 20px;
		border-radius: 5px;
		text-align: center;

	}
		nav  > ul > li > a{
		padding: 10px 20px;
		color: #850303;
		font-size: 12px;
		font-weight: bold;
	}
	nav > ul > li:hover a{
		padding: 15px 30px 20px 30px;
		color: white;
		font-size: 15px;
	}
	#gauche{
	display: inline;
	height: 837px;
	border-top: 0px;
	width: 90px;
	margin-top: 40px;
	position: relative;
	float: left;
 
}
#deco{
	border: 5px solid #850303;
	width: 20px;
	height: 20px;
}
#droite{
	
	height: 837px;
	width: 90px;
	position: relative;
	float: right;
	margin-top: 40px;
	display: inline;
}
	table {
		display:flex;
		margin-bottom: 5px;
	}
	.btn{
		width:85px;
		font-size: 12px;
	}
	
	tr, td, input{
		border-radius: 0px;
		display: bloc;
		width: 100px;
		height: 25px;
			font-size: 12px;
		  
	}
	#a2{
		font-size: 20px;
		color: white;
		margin-left: 5px;
		margin-top: 5px;
		font-weight: bold;
}
	#a5{
		font-size: 20px;
		color: white;
		margin-left: 5px!important;
		margin-top: 0px;
		font-weight: bold;
}
#a3{
		font-size: 20px;
		color: white;
		margin-left: 5px;
		margin-top: 5px;
		font-weight: bold;
}
.pt{
	font-size: 25px;
	color: white;
	margin-bottom: 5px;
margin-left: 70px;	
}
#pt2{
	
	margin-left: 70px;
	font-size: 25px;
	color: white;
	
}

}



@media (min-width:481px) and (max-width: 780px){
		body{
		
		background-repeat: no-repeat;
		background-size: 2000px;
		background-attachment: fixed;
		font-family: Calibri;
		margin: 0px;
		padding: 0px;
	}
	#conteneur {
		background-image: linear-gradient(to right,#850303,#0ab7c5,#850303);
		width: 600px;
		
		
		
	}
	#im{
	width: 600px;
}
	header{ height: 150px;
	width: 600px;
		background-color: #850303;
		padding-left: 0px;
		padding-bottom: 5px;
		padding-right: 0px;
		padding-top: 5px;
		margin-top: 0px;
		border: 20px;
		border-radius: 5px;
		text-align: center;

	}
		nav  > ul > li > a{
		padding: 10px 20px;
		color: #850303;
		font-size: 12px;
		font-weight: bold;
	}
	nav > ul > li:hover a{
		padding: 15px 30px 20px 30px;
		color: white;
		font-size: 15px;
	}
		#gauche{
	display: inline;
	height: auto;
	border-top: 0px;
	width: 250px;
	margin-right: 10px;
	border: 20px solid white;
	position: relative;
	float: left;
 
}

#ft{
	border: 10px solid #0ab7c5;
	width: 600px;
}
#deco{
	
	width: 250px;
}
#droite{
	margin-right: 100px;
	
	width: 200px;
	position: relative;
	float: right;
	margin-top: 0px;
	display: inline;
}
select{ width: 100px;}
	table {
		display:flex;
		margin-bottom: 5px;
	}
	
	
	tr, td, input{
		border-radius: 0px;
		display: bloc;
		width: 100px;
		height: 23px;
			font-size: 15px;
		  
	}
	#a2{
		font-size: 20px;
		color: white;
		margin-left: 10px;
		margin-top: 5px;
		font-weight: bold;
}
	#a5{
		font-size: 20px;
		color: white;
		margin-left: 10px!important;
		margin-top: 0px;
		font-weight: bold;
}
#a3{
		font-size: 20px;
		color: white;
		margin-left: 10px;
		margin-top: 5px;
		font-weight: bold;
}
.pt{
	font-size: 35px;
	color: white;
	margin-bottom: 5px;
margin-left: 50px;	
}
#pt2{
	
	margin-left: 50px;
	font-size: 35px;
	color: white;
	
}


}
	@media (min-width:781px) and (max-width: 979px){
		body{
		
		font-family: Calibri;
		margin: 0px;
		padding: 0px;
	}
	#conteneur {
		
		width: 800px;
		
		
	}
	
	#im{
	width: 800px;
}
	header{ height: 150px;
	width: 800px;
		background-color: #850303;
		padding-left: 0px;
		padding-bottom: 5px;
		padding-right: 0px;
		padding-top: 5px;
		margin-top: 0px;
		border: 20px;
		border-radius: 5px;
		text-align: center;

	}
		nav  > ul > li > a{
		padding: 10px 20px;
		color: #850303;
		font-size: 12px;
		font-weight: bold;
	}
	nav > ul > li:hover a{
		padding: 15px 30px 20px 30px;
		color: white;
		font-size: 15px;
	}
	#gauche{
	display: inline;
	height: auto;
	border-top: 0px;
	width: 300px;
	margin-right: 10px;
	border: 20px solid white;
	position: relative;
	float: left;
 
}

#ft{
	border: 3px solid #0ab7c5;
	width: 800px;
}
#deco{
	
	width: 300px;
}
#droite{
	margin-right: 100px;
	width: 300px;
	
	position: relative;
	float: right;
	margin-top: 0px;
	display: inline;
}
select{width:130px;}
	table {
		display:flex;
		margin-bottom: 5px;
	}
	
	
	tr, td, input{
		border-radius: 0px;
		display: bloc;
		width: 130px;
		height: 30px;
			
		  
	}
	#a2{
		font-size: 20px;
		color: white;
		margin-left: 10px;
		margin-top: 5px;
		font-weight: bold;
}
	#a5{
		font-size: 20px;
		color: white;
		margin-left: 10px!important;
		margin-top: 0px;
		font-weight: bold;
}
#a3{
		font-size: 20px;
		color: white;
		margin-left: 10px;
		margin-top: 5px;
		font-weight: bold;
}
.pt{
	font-size: 35px;
	color: white;
	margin-bottom: 5px;
margin-left: 50px;	
}
#pt2{
	
	margin-left: 100px;
	font-size: 35px;
	color: white;
	
}


}

@media (min-width:980px) and (max-width: 1100px){
		body{
		
		font-family: Calibri;
		margin: 0px;
		padding: 0px;
	}
	#conteneur {
		
		width: 950px;
		
		
	}
	#im{
	width: 950px;
}
	header{ height: 150px;
	width: 950px;
		background-color: #850303;
		padding-left: 0px;
		padding-bottom: 5px;
		padding-right: 0px;
		padding-top: 5px;
		margin-top: 0px;
		border: 20px;
		border-radius: 5px;
		text-align: center;

	}
		nav  > ul > li > a{
		padding: 10px 20px;
		color: #850303;
		font-size: 15px;
		font-weight: bold;
	}
	nav > ul > li:hover a{
		padding: 15px 30px 20px 30px;
		color: white;
		font-size: 15px;
	}
	
	#gauche{
	display: inline;
	height: auto;
	border-top: 0px;
	width: 400px;
	margin-right: 10px;
	border: 20px solid white;
	position: relative;
	float: left;
 
}
#im{
	width: 950px;
}
#ft{
	border: 10px solid #0ab7c5;
	width: 950px;
}
#droite{
	
	
	
	position: relative;
	float: right;
	margin-top: 0px;
	display: inline;
}
	table {
		display:flex;
		margin-bottom: 5px;
	}
	
	#a2{
		font-size: 20px;
		color: white;
		margin-left: 10px;
		margin-top: 5px;
		font-weight: bold;
}
	#a5{
		font-size: 20px;
		color: white;
		margin-left: 10px!important;
		margin-top: 0px;
		font-weight: bold;
}
#a3{
		font-size: 20px;
		color: white;
		margin-left: 10px;
		margin-top: 5px;
		font-weight: bold;
}
.pt{
	font-size: 40px;
	color: white;
	margin-bottom: 5px;
margin-left: 50px;	
}
#pt2{
	
	margin-left: 100px;
	font-size: 40px;
	color: white;
	
}


}


