body{
background-image: linear-gradient(to right,#850303,#0ab7c5 );
font-family:Arial black;


}
td{  background: white;
	font-size: 17px;
	font-weight: bold;
	
}
th{ color: white;
	font-size: 17px;
	font-weight: bold;
	
}


select{
	font-size: 17px;
	color: black;
	margin-left: 0px;
}
input{
	width: 200px;
	height: 20px;
	margin: 0px 0px 0px 0px;
	padding: 5px;
	font-size: 15px;
	border: 2px solid #gray;
	color: black;
	background: transparent;
	border-radius: 5px;
}


	h1{
	color: white;
	font-family:georgia;
}
#a1{
		font-size: 20px;
		color: white;
		margin-left: 350px;
		margin-top: 5px;
		font-weight: bold;
}
#a2{
		font-size: 20px;
		color: white;
		margin-left: 5px;
		margin-top: 5px;
		font-weight: bold;
}
